#
# VEP configuration for GRCh37
#

# 
# to get VEP and loftee working we need to export PERL5LIB
#
# export PERL5LIB="<vep_cache_path>/Plugins/99_GRCh37/loftee:$PERL5LIB"
#


fork	100
buffer_size	50000
cache	1
offline	1
dir	<vep_cache_path>

force_overwrite	1
no_stats	1
vcf	1
merged	1
assembly	GRCh37
fasta	<fasta_file>
species	homo_sapiens

everything	1
allele_number	1
total_length	1
numbers	1
symbol	1
hgvs	1
ccds	1
uniprot	1
af	1
af_1kg	1
af_esp	1
af_gnomad	1
max_af	1
pubmed	1
canonical	1
biotype	1
sift	b
polyphen	b
appris	1
domains	1
protein	1
regulatory	1
tsl	1

plugin	CADD,<CADD_raw_download>/v1.6/GRCh37/whole_genome_SNVs.tsv.gz,<CADD_raw_download>/v1.6/GRCh37/InDels.tsv.gz
plugin  UTRannotator,<vep_cache_path>/Plugins/99_GRCh37/UTRannotator/uORF_5UTR_GRCh37_PUBLIC.txt
plugin  REVEL,<REVEL_raw_download>/v1.3/revel.tsv.gz
